<!DOCTYPE html>
<html lang="ja">
<head>
<% include _include/_meta %>
</head>
<body>
  <div class="container">
    <%- include('_include/_header', {active: 0}) %>

    <div class="row">
      <div class="col-10 offset-1 my-1">
        <p class="h1 text-center text-title-style">HOME</p>
      </div>
    </div>

    <% include _include/_footer %>
  </div>
</body>
</html>
