<footer id="footer" class="mt-sm-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="h6 text-center text">Copyright xxxx All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
