<title>たいとる</title>
<meta chartype="utf-8" />
<meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<meta content="yes" name="mobile-web-app-capable" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<link rel="stylesheet" href="/assets/css/main.min.css" />
<script type="text/javascript" src="/assets/javascript/bundle.js"></script>
