<!DOCTYPE html>
<html lang="ja">
<head>
<% include ../_include/_meta %>
</head>
<body>
  <% include ../_include/_header %>
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 my-1">
        <p class="h1 text-center text-title-style">ABOUT</p>
      </div>
    </div>
  </div>
  <% include ../_include/_footer %>
</body>
</html>
